.header {

    border: 1px solid white;
    border-radius: 20px;

    width: 150px;
    height: 50px;

    display: flex;            
    justify-content: center;
    align-items: center;  
    font-size: 1.5rem;
    
    transition-duration: 0.3s;

}

.header:hover {

    transform: scale(1.05);

}