@font-face {
    font-family: 'Monkey';
    src: url('./media/HappyMonkey-Regular.ttf');
}

body {

    margin: 0;
    padding: 0;

    /* overflow: hidden; */

}

.App {

    height: 100%;
    width: 100%;

    background: linear-gradient(135deg, black, #06D6A0);
    color: white;

    font-family: Monkey;
    
}