.list-item-options {

    border: 2px solid white;
    border-radius: 20px;

    height: 70px;
    width: 80%;

    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content: space-around; 

}

.option-choice {

    border: 2px solid white;
    border-radius: 20px;

    height: 40px;
    
    padding: 0px 10px;

    line-height: 40px;

    transition-duration: 0.4s;

    cursor: pointer;

}

.option-choice:hover {

    transform: scale(1.08);

}

.option-choice.clicked {

    background-color: white;
    color: black;

}