.Projects {

    /* border: 2px solid red; */

    width: 100vw; /* should be standard width and height for a page */
    height: calc(100vh - 50px);

    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 20px;

}

.create-button {

    border: 2px solid white;
    border-radius: 20px;

    height: 40px;
    
    padding: 0px 10px;

    line-height: 40px;

    transition-duration: 0.4s;

    cursor: pointer;

}

.create-button:hover {

    transform: scale(1.08);

}

.create-button.clicked {

    background-color: white;
    color: black;

}